<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Everton Alves">
    <title>Atendente Virtual</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="chat-container">
    <div class="chat-header">
        <h2>Atendente Virtual</h2>
    </div>
    <div class="chat-mensagens" id="chat-mensagens">
        <div class="mensagem bot">
            <div class="mensagem-conteudo">
                Sou uma atentendente virtual que responde sobre o Nubank. Não sou oficial da empresa.
            </div>
        </div>
    </div>
    <div class="chat-input">
        <input type="text" id="user-input" placeholder="Digite sua mensagem...">
        <input type="hidden" id="chave-acesso" th:value="${chave}" />
        <button id="botao-enviar">Enviar</button>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
